
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.con, .table{
  margin-top: 20px;
}
.titleTb{
  width: 20%;
}
.image{
  width: 100%;
}
.actionTb{
  width: 25%;
}
.tbo, .add{
  text-align: left;
}
.add{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.col{
  display: inline-block;
}
.form-left{
  width: 72%;
  margin-right: 30px;
  display: inline-block;

}
.img-right{
  width: 25%;
  display: inline-block;

}
.con{
  text-align:left;
}
.image-left{
  display: inline-block;
  width: 30%;
}
.cap-right{
  display: inline-block;
  position: relative;
  bottom: 48px;
}
@media screen and (max-width: 1199px){
  .cap-right{
    position: relative;
    bottom: 20px;
    left: -20px;
  }
}

